<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="'Statistics'">
  <div class="bar bar-subheader">
    <div class="button-bar">
      <a class="button icon ion-ios7-download"></a>
      <a class="button icon ion-ios7-pie-outline"></a>
      <a class="button icon ion-ios7-upload-outline"></a>
    </div>
  </div>

  <ion-content has-header="true" has-subheader="true" has-tabs="true" padding="true">

    <img src="img/ionic.png" class="ionic-logo">
  </ion-content>
</ion-view>
