<ion-view title="'Statistics'" style="background:black;">
  <ion-content has-header="true" has-tabs="true">
  <ion-slide-box active-slide="1" class="slidebox">
  <ion-slide>
    <div class="item item-dark item-avatar">
        <img src="images/yeoman.png" style="background:yellow;">
      <h2 style="color:white;">Which background would better suit a flower business?</h2>
    </div>
      <div class="item item-dark">

      <div id="limageStat" style="background:url(img/flower.jpg) no-repeat center center;background-size:100%;height:200px;width:100%;margin-top:-30px;">
      <div class="statCenter" style="color:white;">23</div>
    </div>

      <div id="limageStat" style="float:left;background:url(img/ionic.png) no-repeat center center;background-size:100%;height:100px;width:50%;">
      <div class="statCenter" style="color:white;line-height:100px;">6</div>
    </div>

      <div id="limageStat" style="float:left;background:url(img/cool.jpg) no-repeat center center;background-size:100%;height:100px;width:50%;">
      <div class="statCenter" style="color:white;line-height:100px;">2</div>
    </div>

    </div>


    <div class="item item-avatar item-dark">
        <img src="images/yeoman.png" style="background:yellow;">
      <h2 style="color:white;">Which background would better suit a flower business?</h2>
    </div>
      <div class="item item-dark">

      <div id="limageStat" style="background:url(img/flower.jpg) no-repeat center center;background-size:100%;height:200px;width:100%;margin-top:-30px;">
      <div class="statCenter" style="color:white;">23</div>
    </div>

      <div id="limageStat" style="float:left;background:url(img/ionic.png) no-repeat center center;background-size:100%;height:100px;width:50%;">
      <div class="statCenter" style="color:white;line-height:100px;">6</div>
    </div>

      <div id="limageStat" style="float:left;background:url(img/cool.jpg) no-repeat center center;background-size:100%;height:100px;width:50%;">
      <div class="statCenter" style="color:white;line-height:100px;">2</div>
    </div>

    </div>



  </ion-slide>

  <ion-slide>
    <img src="img/ionic.png" class="ionic-logo">
  </ion-slide>

  <ion-slide>
    <img src="img/ionic.png" class="ionic-logo">
  </ion-slide>

  </ion-slide-box>
  </ion-content>
</ion-view>