<ion-view title="'AskPie'" style="background:black;">
<img src="img/bg.png" />
  <ion-content has-header="true" has-tabs="true">
    <div class="list list-inset" style="background:transparent;">
      <label class="item item-input trans">
        <span class="input-label trans">Question</span>
        <input type="text">
      </label>
      <label class="item item-input trans">
        <span class="input-label trans">To</span>
        <input type="email">
      </label>
      <ion-toggle class="trans">Private</ion-toggle>
      <button class="button button-positive button-block trans">Send</button>
    </div>
  </ion-content>
</ion-view>
