<ion-view title="pet.title" style="background:black;">
  <ion-slide-box class="slidebox">
	<ion-slide>
		<div class="choice" ng-click="tickChoice()">
			<div id="tick">
				<div class="iconCenter icon ion-ios7-checkmark"></div>
			</div>
			<img src="img/cool.jpg" class="ri" />
		</div>
	</ion-slide>
	<ion-slide>
		<div class="choice">
			<div id="tick">
				<div class="iconCenter icon ion-ios7-checkmark"></div>
			</div>

			<img src="img/flower.jpg" class="ri"/>
		</div>
	</ion-slide>
  </ion-slide-box>
</ion-view>