<ion-view title="'Living room art'">

   <ion-slide-box does-continue="true" slide-interval="1500" show-pager="false" class="slidebox">
  <ion-slide>
    <div class="choice" ng-click="tickChoice()">
      <div id="tick">
        <div class="iconCenter icon ion-ios7-checkmark"></div>
      </div>
      <img src="img/cool.jpg" class="ri" />
    </div>
  </ion-slide>
  <ion-slide>
    <div class="choice">
      <div id="tick">
        <div class="iconCenter icon ion-ios7-checkmark"></div>
      </div>

      <img src="img/flower.jpg" class="ri"/>
    </div>
  </ion-slide>
  </ion-slide-box>

<div class="bar bar-footer bar-dark">

  <a class="button icon ion-ios7-camera" href="#/new"></a>
  
  <a class="button" href="#/review">127</a>


</div>

</ion-view>