<ion-view title="'Santoshi'" style="background:transparent;">
<img src="img/bg.png"/>
  <ion-content has-header="true">
  <ion-slide-box show-pager="false" active-slide="1" class="slidebox">
  <ion-slide>

<div class="list">

    <a class="item">
      <img src="img/cool.jpg" class="listImage">
      <p class="listHeader">Nine Inch Nails</p>
    </a>
    <a class="item">
      <img src="img/flower.jpg" class="listImage">
      <p class="listHeader">Nine Inch Nails</p>
    </a>
    <a class="item">
      <img src="img/cool.jpg" class="listImage">
      <p class="listHeader">Nine Inch Nails</p>
    </a>

</div>

  </ion-slide>

  <ion-slide>
    <img src="img/ionic.png" class="ionic-logo">
  </ion-slide>

  <ion-slide>
    <img src="img/ionic.png" class="ionic-logo">
  </ion-slide>

  </ion-slide-box>
  </ion-content>
</ion-view>