
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs tabs-style="tabs-icon-only" tabs-type="tabs-dark">


  <!-- Pets Tab -->
  <ion-tab title="Pets" icon="icon ion-play" href="#/tab/pets">
    <ion-nav-view name="pets-tab"></ion-nav-view>
  </ion-tab>


  <!-- Adopt Tab -->
  <ion-tab title="Adopt" icon="icon ion-camera" href="#/tab/adopt">
    <ion-nav-view name="adopt-tab"></ion-nav-view>
  </ion-tab>


  <!-- About Tab -->
  <ion-tab title="About" icon="icon ion-ios7-pie" href="#/tab/about" badge=""> 
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>




</ion-tabs>
